{% extends 'login/base.html' %}
{% block content %}
<div class="container">
	<div class="row">
	
     

        
    <div class="container">
    	
        <h1><span class="glyphicon glyphicon-user" style="font-size:1.5em;"></span>  {{ profile.first_name }} {{ profile.last_name }} - {{ profile.emp_id }} </h1>

    </div>
    <div class="Birth">
        <h1> Date of Birth: {{ profile.birth_date }}  </h1>
        	  
    </div>
    <div class="Employed">
        <h1> Date of Employment: {{ profile.hire_date }}  </h1>
        	  
    </div>
    <div class="Salaries">
    {% for salary in salaries %}
    {{ salary.id }} {{ salary.salary }} {{ salary.from_date }} {{ salary.to_date }}<br>   
    {% endfor %}
        	  
    </div>

    
     

    </table>
	</div>
</div>
{% endblock %}