{% extends 'login/base.html' %}
{% block content %}
<div class="container">
	<div class="row">
	
     

        
    <div class="container">
    	
        <h1><span class="glyphicon glyphicon-user" style="font-size:1.5em;"></span>  {{ profile.first_name }} {{ profile.last_name }} - {{ profile.emp_id }} </h1>

    </div>
    <div class="Birth">
        <h1> Date of Birth: {{ profile.birth_date }}  </h1>
        	  
    </div>
    <div class="Employed">
        <h1> Date of Employment: {{ profile.hire_date }}  </h1>
        	  
    </div><br>
   <!-- <div class="Title">
        <h1> Salaries  </h1>
        <a href="{% url 'salary_new' %}" ><span class="glyphicon glyphicon-plus" style="color:gray" ></span></a>
    </div>-->
    <div class="salaries">
    {% for salary in salaries %}
    ${{ salary.salary }} from {{ salary.from_date }} to {{ salary.to_date }}<br>   
    {% endfor %}
        	  
    </div>

    
     

    </table>
	</div>
</div>
{% endblock %}