<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="login-box auth0-box before">
    <h1 style="text-align: center">Welcome to Employee Portal!</h1>
<a href="/login/auth0" class="btn btn-block btn-primary">Login</a>
{#	<img src="https://i.cloudup.com/StzWWrY34s.png" />#}
{#	<h3>Auth0 Example</h3>#}
{#	<p>Zero friction identity infrastructure, built for developers</p>#}
{#	<a class="btn btn-primary btn-lg btn-login btn-block" href="/login/auth0">Log In</a>#}
</div>
